<app-loading [condition]="loading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!loading">
  <h4 class="card-header">Administration - Gestion des playlists ({{playlists.length}})</h4>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="/dashboard/playlists/add" class="btn btn-primary">Ajouter une playlist</a>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
          <tr>
            <th>Nom</th>
            <th>Slug</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody *ngIf="playlists.length === 0">
          <tr>
            <td colspan="4">Aucune playlist n'est enregistré.</td>
          </tr>
          </tbody>
          <tbody>
          <tr *ngFor="let playlist of playlists">
            <td>{{playlist.name}}</td>
            <td>{{playlist.slug}}</td>
            <td>
              <button class="btn btn-sm btn-primary" routerLink="/dashboard/playlists/{{ playlist._id }}">
                Voir
              </button>
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-trash" (click)="deletePlaylist(playlist)"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>